<%= form_with(model: sea_tour, local: true) do |form| %>
  <% if sea_tour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sea_tour.errors.count, "error") %> prohibited this sea_tour from being saved:</h2>

      <ul>
      <% sea_tour.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group row">
    <%= form.label "Название тура:", class: "col-2 col-form-label" %>
    <div class="col-10">
      <%= form.text_field :title, class: "form-control"  %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label "Краткое Описание:", class: "col-2 col-form-label" %>
    <div class="col-10">
      <%= form.text_field :short_content, class: "form-control"  %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label "Описание тура:", class: "col-2 col-form-label" %>
    <div class="col-10">
      <%= form.text_area :content, class: "form-control"  %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label "Цена на взрослого:", class: "col-2 col-form-label" %>
    <div class="col-10">
      <%= form.number_field :adult_price, class: "form-control"  %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label "Цена на ребенка:", class: "col-2 col-form-label" %>
    <div class="col-10">
      <%= form.number_field :child_price, class: "form-control"  %>
    </div>
  </div>
  <div class="actions">
      <%= form.submit %>
  </div>
<% end %>
