<% content_for :style do %>
  <%= stylesheet_link_tag    'sea_tours' %>
<% end %>

<%= render 'shared/navbar' %>
<p id="notice"><%= notice %></p>

<div class="container">

  <h1>
    <%= @sea_tour.title %>
  </h1>

  <div class="text-center">
    <% @sea_tour.images.each do |image| %>
      <%= image_tag image.url(:bottom), class: 'small_images' %>
    <% end %>
  </div>

  <!-- The Modal Big Images -->
  <div id="imageModal" class="modal">
    <div class="modal-content">
      <span class="close_image">&times;</span>
      <img id="img01">
    </div>
  </div>
  <!-- End Modal -->

  <div class="row price-container">
    <div class="col-4 text-right">
      <p class="adult-price">
        <%= image_tag 'user.svg' %>
        B <%= @sea_tour.adult_price %>
      </p>
    </div>
    <div class="col-4 text-center">
      <p class="child-price">
        <%= image_tag 'kids-couple.svg' %>
        B <%= @sea_tour.child_price %>
      </p>
    </div>
    <div class="col-4 text-left">
      <button data-toggle="modal" data-target="#orderTour" class="orderTourButtonShow" data-title="<%= @sea_tour.title %>" data-adult="<%= @sea_tour.adult_price %>" data-productType="SeaTour" data-productId="<%= @sea_tour.id %>" data-child="<%= @sea_tour.child_price %>">Заказать</button>

      <!-- The Modal Order Tour -->
      <%= render partial: 'shared/order_tour', :locals => { product_type: "SeaTour", product_id: @sea_tour.id} %>
      <!-- End Modal Order Tour  -->
    </div>
  </div>
  <div class="short-content">
    <h2>Краткое описание:</h2>
    <p>
      <%= @sea_tour.short_content %>
    </p>
  </div>
  <div class="full-content">
    <h2>Полное описание:</h2>
    <p><%= @sea_tour.content.html_safe %></p>
  </div>
  <div class="form-container">
    <%= render partial: 'shared/order_tour_form', :locals => { product_type: "SeaTour", product_id: @sea_tour.id} %>
  </div>
</div>
<%= render "shared/footer" %>
