<% content_for :style do %>
  <%= stylesheet_link_tag    'sea_tours' %>
<% end %>

<%= render 'shared/navbar' %>
<p id="notice"><%= notice %></p>
<div class="container index-tour">
  <div class="row justify-content-center">
    <div class="col-lg-10 col-md-12">
      <div class="section-title-17 text-center">
        <% if content_for?(:header) %>
          <%= yield(:header) %>
        <% else %>
          <h2>Морские экскурсии</h2>
        <% end %>
      </div>
    </div>
  </div>
  <%= render partial: 'shared/tours', locals: {all_tours: @evening_shows, path: 'evening_show_path', product_type: 'EveningShow'} %>
</div>

<%= render "shared/footer" %>
