<h1>Заказ тура!</h1>
<br>
<p>Имя заказчика: <%= @customer_name %> </p>
<p>Телефон: <%= @customer_phone %> </p>
<p>Почта: <%= @customer_email %> </p>
<p>Комментарий: <%= @customer_comment %> </p>
<p>Дата заказа: <%= @date %> </p>
<br>
<p>Название тура: <%= @tour_title %></p>
<p>Взрослых: <%= @adult %></p>
<p>Детей: <%= @child %></p>
<p>Дата тура: <%= @tour_date %></p>
