<h1>Заказ тура!</h1>
<br>
<p><b>Имя заказчика:</b> <%= @customer_name %> </p>
<p><b>Телефон:</b> <%= @customer_phone %> </p>
<p><b>Почта:</b> <%= @customer_email %> </p>
<p><b>Комментарий:</b> <%= @customer_comment %> </p>
<p><b>Дата заказа:</b> <%= @date %> </p>
<br>
<p><b>Название тура:</b> <%= @tour_title %></p>
<p><b>Взрослых:</b> <%= @adult %></p>
<p><b>Детей:</b> <%= @child %></p>
<p><b>Дата тура:</b> <%= @tour_date %></p>
