<!-- Start comment Area -->
  <section id="price" class="section-150 create-review-table-17">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10 col-md-12">
          <div class="section-title-17 text-center">
            <div class="rectangle-7">
              <h3>Хотите поделиться отзывом или задать вопрос?</h3>
              <p>Отлично! Пишите нам все свои пожелания, предложения и отзывы здесь!</p>
              <input type="text" name="" placeholder="Ваше имя">
              <input type="text" name="" placeholder="Ваш email">
              <textarea placeholder="Ваш комментарий"></textarea>
              <div class="info-content">
                <p>
                  Рейтинг:
                  <%= image_tag('star-filled.svg') %>
                  <%= image_tag('star-filled.svg') %>
                  <%= image_tag('star-filled.svg') %>
                  <%= image_tag('star-filled.svg') %>
                  <%= image_tag('star-empty.svg') %>
                </p>
                <div>
                  <p>Ваш аватар:</p><%= image_tag('clip.svg') %>
                  <input type="file" name="file" id="file" class="inputfile" />
                  <label for="file">Загрузить файл</label>
                </div>
                <div>
                  <p>Добавить фотографии:</p><%= image_tag('clip.svg') %>
                  <input type="file" name="file" id="file" class="inputfile" />
                  <label for="file">Загрузить файл</label>
                </div>
                <div class="text-center">
                  <button>
                    Отправить
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End comment Area -->
