<!-- Start Comment Area -->
<section id="price" class="section-150 create-review-table-17">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 col-md-12">
        <div class="section-title-17 text-center">
          <div class="rectangle-7">

            <%= form_for 'comment', :url => url_for(:controller => 'comments', :action => 'create') do |f| %>
              <%= f.hidden_field :tour_id, value: product_id %>
              <%= f.hidden_field :tour_type, value: product_type %>
              <h3>Хотите поделиться отзывом?</h3>
              <p>Отлично! Пишите нам все свои пожелания, предложения и отзывы здесь!</p>
              <%= f.text_field :customer_name, placeholder: 'Ваше имя', autocomplete: 'name', required: true %>
              <%= f.email_field :customer_email, placeholder: 'Ваш email', autocomplete: 'email', required: true %>
              <%= f.text_area :comment, placeholder: 'Ваш комментарий', autocomplete: 'comment', required: true %>
              <div class="info-content">
                <div>
                  <p>Ваш аватар:</p><%= image_tag('clip.svg') %>
                  <%= f.file_field :avatar, class: "inputfile", id:"avatar" %>
                  <label for="avatar">Загрузить файл</label>
                </div>
                <div>
                  <p>Добавить фотографии:</p><%= image_tag('clip.svg') %>
                  <%= f.file_field :images, multiple: true, class: "inputfile", id:"images" %>
                  <label for="images">Загрузить файл</label>
                </div>
                <div class="text-center">
                  <%= f.submit 'Отправить', id: 'comment-submit' %>
                </div>
              </div>

            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Comment Area -->
