<!-- Start Comment Area -->
<section id="price" class="section-150 create-review-table-17">

  <%= form_for 'comment', :url => url_for(:controller => 'comments', :action => 'create'), :html => {id: 'add_new_comment'} do |f| %>
    <%= f.hidden_field :tour_id, value: product_id %>
    <%= f.hidden_field :tour_type, value: product_type %>
    <h3 class="text-center">Поделиться своим отзывом</h3>
    <%= f.text_field :customer_name, placeholder: 'Ваше имя', autocomplete: 'name', required: true %>
    <%= f.email_field :customer_email, placeholder: 'Ваш email', autocomplete: 'email', required: true %>
    <%= f.text_area :comment, placeholder: 'Ваш комментарий', autocomplete: 'comment', required: true %>
    <div class="info-content">
      <div>
        <p>Ваш аватар:</p><%= show_svg('clip.svg') %>
        <%= f.file_field :avatar, class: "inputfile", id:"avatar" %>
        <label for="avatar">Загрузить файл</label>
      </div>
      <div>
        <p>Добавить фотографии:</p><%= show_svg('clip.svg') %>
        <%= f.file_field :images, multiple: true, class: "inputfile", id:"images" %>
        <label for="images">Загрузить файл</label>
      </div>
      <div class="text-center">
        <%= f.submit 'Отправить', id: 'comment-submit' %>
        <%= image_tag 'loading.gif', id: 'loading-comment' %>
        <p class="please-wait">Пожалуйста подождите...</p>
      </div>
    </div>

  <% end %>

</section>
<!-- End Comment Area -->
