<section class="footer-widget-17 section-150 relative">
  <div class="footer-top-shape"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-sm-4">
        <div class="single-widget mt-20">
          <%= image_tag('logo_footer.svg') %>
        </div>
        <div class="viber-whatsapp-telegram">
          <%= image_tag('icons/viber.svg') %>
          <%= image_tag('icons/whatsapp.svg') %>
          <%= image_tag('icons/telegram.svg') %>
        </div>
        <p class="phone">
          <%= image_tag('phone.svg') %>
          +66 83 539 0539
        </p>
        <p class="mail"> <%= image_tag('mail.svg') %> cocotours.phuket@gmail.com </p>
      </div>
      <div class="col-lg-2 col-sm-4">
        <div class="single-widget mt-20">
          <h5>
            <a class="shoping-button" href="<%= prices_path %>" target="_blank">Прайс</a>
          </h5>
          <h5>О компании</h5>
          <h5>Контакты</h5>
          <h5>Услуги</h5>
        </div>
      </div>
      <div class="col-lg-2 col-sm-4">
        <div class="single-widget mt-20">
          <h5>Екскурсии</h5>
        </div>
      </div>
      <div class="col-lg-2 col-sm-4">
        <div class="single-widget mt-20">
          <h5><%= link_to 'Шопинг', shops_path %></h5>
        </div>
      </div>
      <div class="col-lg-2 col-sm-4">
        <div class="single-widget mt-20">
          <h5><%= link_to 'Аренда Лодок', boats_path %></h5>
        </div>
      </div>
      <div class="col-lg-2 col-sm-4">
        <div class="single-widget mt-20">
          <h5>Недвижимоcть</h5>
        </div>
      </div>
    </div>
    <div class="text-right garanty">
      <p>ГАРАНТИЯ САМОЙ НИЗКОЙ ЦЕНЫ НА ОСТРОВЕ!!!</p>
      <p>CoCo Travel лицензия: № 33-07226</p>
    </div>
  </div>
</section>
<!-- End Footer Widget -->
<footer class="default-footer">
  <div class="container">
    <div class="d-flex justify-content-between no-flex-xs">
      <div class="footer-copy-right">
        <p>&copy; 2018. All Rights Reserved<span>|</span><a href="#">Ghost</a></p>
      </div>
    </div>
  </div>
</footer>
