<footer class="footer-widget-17 relative">
  <div class="container">
    <div class="row">
      <div class="col-4 footer-copy-right">
        <%= show_svg 'footer-logo.svg' %>
        <p>&copy; 2019. All Rights Reserved<span>|</span><a href="#">Ghost</a></p>
      </div>
      <div class="col-4 footer-info-container">
        <p>
          <%= show_svg 'phone.svg' %>
          +66 96 816 0299
        </p>
        <p>
          <%= show_svg 'mail-ic.svg' %>
          info@my.travel
        </p>
        <p>
          <%= show_svg 'pin-ic.svg' %>
          200/148, Si Sunthon, Talang, Phuket, 83110
        </p>
      </div>
      <div class="col-4">
        <div class="footer-select-currency">
          <select>
            <option>Сменить валюту (THB)</option>
            <option>Сменить валюту (USD)</option>
            <option>Сменить валюту (RUB)</option>
          </select>
          <%= show_svg 'arrow-down.svg' %>
        </div>
        <div class="social-media">
          <%= show_svg 'insta.svg' %>
          <%= show_svg 'vk.svg' %>
          <%= show_svg 'facebook-ic.svg' %>
        </div>
      </div>
    </div>
  </div>
</footer>
