<header class="header-4 header-17">


  <div class="total-header-area default-header">
    <div class="container">
      <div class="row align-items-center">

          <div class="main-menu" id="main-menu-container">
            <nav>
              <ul class="d-flex">
                <li><a href="#top">Контакты</a></li>
                <li><a href="#our_advantages">О нас</a></li>
                <li><a href="#projects">Отзывы</a></li>
              </ul>
            </nav>
          </div>
          <div class="logo">
            <%= link_to root_path do %>
              <%= image_tag('logo.svg')%>
            <% end %>
          </div>

          <div class="scrolled-menu-container">
            <div class="row align-items-center second-menu-row">

                <div class="main-menu" id="scrolled-menu">
                  <nav>
                    <ul class="d-flex">
                      <li>
                        <div class="dropdown tours">
                          <a href="#">
                            Экскурсии
                          </a>
                          <div class="dropdown-menu">
                            <a class="dropdown-item" href="<%= sea_tours_path %>">Морские экскурсии</a>
                            <a class="dropdown-item" href="<%= land_tours_path %>">Сухопутные</a>
                            <a class="dropdown-item" href="<%= evening_shows_path %>">Вечерние шоу</a>
                            <a class="dropdown-item" href="<%= phuket_tours_path %>">По Пхукету</a>
                            <a class="dropdown-item" href="<%= avia_tours_path %>">Авиатуры</a>
                            <a class="dropdown-item" href="<%= individual_path %>">Индивидуальные</a>
                          </div>
                          <%= image_tag('down-chevron.svg')%>
                        </div>
                      </li>
                      <li>
                        <a class="shoping-button" href="<%= shops_path %>">
                          Шопинг
                        </a>
                      </li>
                      <li>
                        <a class="shoping-button" href="<%= boats_path %>">
                          Аренда Лодок
                        </a>
                      </li>
                        <li>
                          <div class="dropdown property">
                          <a href="#">
                            Недвижимость
                          </a>
                          <div class="dropdown-menu">
                            <a class="dropdown-item" href="<%= realty_rent_path %>">Аренда</a>
                            <a class="dropdown-item" href="<%= realty_buy_path %>">Покупка</a>
                          </div>
                          <%= image_tag('down-chevron.svg')%>
                        </div>
                      </li>
                      <li>
                        <div class="dropdown services">
                          <a href="#">
                            Услуги
                          </a>
                          <div class="dropdown-menu">
                            <a class="dropdown-item" href="<%= transfers_path %>">Трансферы в/из Аэропорта</a>
                            <a class="dropdown-item" href="<%= photoshoot_path %>">Фотосессии</a>
                            <a class="dropdown-item" href="<%= wedding_path %>">Свадебные церемонии</a>
                            <a class="dropdown-item" href="<%= ferries_path %>">Паромы на острова</a>
                            <a class="dropdown-item" href="<%= spa_path %>">СПА</a>
                          </div>
                          <%= image_tag('down-chevron.svg')%>
                        </div>
                      </li>
                      <li>
                        <div class="dropdown price-list">
                          <a href="#">
                            Прайс
                          </a>
                          <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Скачать</a>
                            <a class="dropdown-item new-window" href="<%= prices_path %>" target="_blank">Открыть</a>
                          </div>
                          <%= image_tag('down-chevron.svg')%>
                        </div>
                      </li>
                    </ul>
                  </nav>
                </div>

            </div>
          </div>

          <div class="btn-group" id="social-link-container">
            <a href="https://www.instagram.com/phuket_budget_tours/" target="_blank" class="instagram"> <%= image_tag('insta.svg')%> </a>
            <a href="#" class="facebook"> <%= image_tag('facebook.svg')%></a>
            <a href="#" class="vk"> <%= image_tag('vk.svg')%></a>
            <span class="currency">Бат(B)</span>
            <%= image_tag('down-chevron.svg')%>
            <%= link_to carts_path do %>
              <div id="basket">
                <span id='white'><%= image_tag('shopping-cart-white.svg')%></span>
                <span id='black' class="hidden"><%= image_tag('shopping-cart.svg')%></span>
                <div class="Oval-2">
                  <span class="layer"><%= @cart.cart_items.count %></span>
                </div>
              </div>
            <% end %>
          </div>
          <div class="menu-group d-flex justify-content-end">
            <a href="#" class="menu-btn toggle-btn hidden-md-up"><span class="lnr lnr-menu"></span></a>
          </div>

      </div>
    </div>
  </div>



  <div class="side-menubar">
    <nav>
      <ul class="d-flex">
        <li>
          <div class="dropdown tours">
            <a href="#">
              Экскурсии
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="<%= sea_tours_path %>">Морские экскурсии</a>
              <a class="dropdown-item" href="<%= land_tours_path %>">Сухопутные</a>
              <a class="dropdown-item" href="<%= evening_shows_path %>">Вечерние шоу</a>
              <a class="dropdown-item" href="<%= phuket_tours_path %>">По Пхукету</a>
              <a class="dropdown-item" href="<%= avia_tours_path %>">Авиатуры</a>
              <a class="dropdown-item" href="<%= individual_path %>">Индивидуальные</a>
            </div>
            <%= image_tag('down-chevron.svg')%>
          </div>
        </li>
        <li>
          <a class="shoping-button" href="<%= shops_path %>">
            Шопинг
          </a>
        </li>
        <li>
          <a class="shoping-button" href="<%= boats_path %>">
            Аренда Лодок
          </a>
        </li>
          <li>
            <div class="dropdown property">
            <a href="#">
              Недвижимость
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="<%= realty_rent_path %>">Аренда</a>
              <a class="dropdown-item" href="<%= realty_buy_path %>">Покупка</a>
            </div>
            <%= image_tag('down-chevron.svg')%>
          </div>
        </li>
        <li>
          <div class="dropdown services">
            <a href="#">
              Услуги
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="<%= transfers_path %>">Трансферы в/из Аэропорта</a>
              <a class="dropdown-item" href="<%= photoshoot_path %>">Фотосессии</a>
              <a class="dropdown-item" href="<%= wedding_path %>">Свадебные церемонии</a>
              <a class="dropdown-item" href="<%= ferries_path %>">Паромы на острова</a>
              <a class="dropdown-item" href="<%= spa_path %>">СПА</a>
            </div>
            <%= image_tag('down-chevron.svg')%>
          </div>
        </li>
        <li>
          <div class="dropdown price-list">
            <a href="#">
              Прайс
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Скачать</a>
              <a class="dropdown-item new-window" href="<%= prices_path %>" target="_blank">Открыть</a>
            </div>
            <%= image_tag('down-chevron.svg')%>
          </div>
        </li>
      </ul>
    </nav>
    <div class="menu-contact">
      <div class="email">
        <a href="mailto:cocotours.phuket@gmail.com">cocotours.phuket@gmail.com</a> <br>
        <a href="javascript:;">+66 83 539 0539</a>
      </div>
      <div class="social-contact color-8 d-flex justify-content-center">
        <a href="https://www.instagram.com/phuket_budget_tours/" target="_blank" class="instagram"> <%= image_tag('insta.svg')%> </a>
        <a href="#" class="facebook"> <%= image_tag('facebook.svg')%></a>
        <a href="#" class="vk"> <%= image_tag('vk.svg')%></a>
      </div>
    </div>
  </div>
</header>
<!-- Start Banner Area -->
<section class="asana-banner relative">
  <%= image_tag 'main.jpg', id: 'mainHeaderImd' %>
  <div class="main-container">
    <div class="contact-info">
      <div class="container">
        <p class="phone">
          <%= image_tag('phone.svg') %>
          +66 83 539 0539
        </p>
        <p class="mail"> <%= image_tag('mail.svg') %> <a href="mailto:cocotours.phuket@gmail.com">cocotours.phuket@gmail.com</a> <br> </p>
        <button class="call-request" data-toggle="modal" data-target="#orderCall">Заказать звонок</button>
      </div>
    </div>
    <div class="container">
      <%= render 'shared/flash', flash: flash %>
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-8">
          <div class="asana-banner-content text-center">
            <h1 class="text-white">Лучшие экскурсии по бюджетным ценам</h1>
            <p class="text-white">
              Мы проффесилналы своего дела, ценим каждого клиента. Цель нашей компании - сделать ваш отдых не только интересным, но и доступным.
              <span class="hidden-sm-down"> Мы хотим, что бы вы вернулись к нам снова, по этому выполняем свою работу на вышем уровне.</span>
            </p>
            <div class="sun-container">
              <p>Гарантия самой<br/>низкой цены</p>
              <p>Проффессиональный<br/>подход</p>
              <p>Опыт более<br/>10 лет</p>
              <p>Выезд<br/>консультантов</p>
              <p>Система<br/>скидок</p>
              <p>Акции<br/>и розыгрышы</p>
            </div>
            <div class="subscription">
              <a href="#main-tours">
                <%= image_tag('arrow-down.svg')%>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row align-items-center second-menu-row">

        <div class="main-menu" id="second-menu">
          <nav>
            <ul class="d-flex">
              <li>
                <div class="dropdown tours">
                  <a href="#">
                    Экскурсии
                  </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="<%= sea_tours_path %>">Морские экскурсии</a>
                    <a class="dropdown-item" href="<%= land_tours_path %>">Сухопутные</a>
                    <a class="dropdown-item" href="<%= evening_shows_path %>">Вечерние шоу</a>
                    <a class="dropdown-item" href="<%= phuket_tours_path %>">По Пхукету</a>
                    <a class="dropdown-item" href="<%= avia_tours_path %>">Авиатуры</a>
                    <a class="dropdown-item" href="<%= individual_path %>">Индивидуальные</a>
                  </div>
                  <%= image_tag('down-chevron.svg')%>
                </div>
              </li>
              <li>
                <a class="shoping-button" href="<%= shops_path %>">
                  Шопинг
                </a>
              </li>
              <li>
                <a class="shoping-button" href="<%= boats_path %>">
                  Аренда Лодок
                </a>
              </li>
                <li>
                  <div class="dropdown property">
                  <a href="#">
                    Недвижимость
                  </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="<%= realty_rent_path %>">Аренда</a>
                    <a class="dropdown-item" href="<%= realty_buy_path %>">Покупка</a>
                  </div>
                  <%= image_tag('down-chevron.svg')%>
                </div>
              </li>
              <li>
                <div class="dropdown services">
                  <a href="#">
                    Услуги
                  </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="<%= transfers_path %>">Трансферы в/из Аэропорта</a>
                    <a class="dropdown-item" href="<%= photoshoot_path %>">Фотосессии</a>
                    <a class="dropdown-item" href="<%= wedding_path %>">Свадебные церемонии</a>
                    <a class="dropdown-item" href="<%= ferries_path %>">Паромы на острова</a>
                    <a class="dropdown-item" href="<%= spa_path %>">СПА</a>
                  </div>
                  <%= image_tag('down-chevron.svg')%>
                </div>
              </li>
              <li>
                <div class="dropdown price-list">
                  <a href="#">
                    Прайс
                  </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Скачать</a>
                    <a class="dropdown-item new-window" href="<%= prices_path %>" target="_blank">Открыть</a>
                  </div>
                  <%= image_tag('down-chevron.svg')%>
                </div>
              </li>
            </ul>

          </nav>
        </div>

    </div>
  </div>

</section>
<!-- End Banner Area -->
<%= render 'shared/order_call_modale' %>
