<ul class="d-flex">
  <li>
    <div class="dropdown tours">
      <a href="#">
        Экскурсии
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Обзорные по Пхукету</a>
        <a class="dropdown-item" href="#">Морские экскурсии</a>
        <a class="dropdown-item" href="#">Сухопутные</a>
        <a class="dropdown-item" href="#">Авиатуры</a>
        <a class="dropdown-item" href="#">Вечерние шоу</a>
        <a class="dropdown-item" href="#">Индивидуальные</a>
      </div>
      <%= image_tag('down-chevron.svg')%>
    </div>
  </li>
  <li>
    <div class="dropdown boats">
      <a href="#">
        Аренда Яхт
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Яхты</a>
        <a class="dropdown-item" href="#">Катера для рыбалки</a>
        <a class="dropdown-item" href="#">Скоростные катера</a>
      </div>
      <%= image_tag('down-chevron.svg')%>
    </div>
  </li>
    <li>
      <div class="dropdown property">
      <a href="#">
        Недвижимость
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Аренда недвижимости</a>
        <a class="dropdown-item" href="#">Купить недвижимость</a>
      </div>
      <%= image_tag('down-chevron.svg')%>
    </div>
  </li>
  <li>
    <div class="dropdown services">
      <a href="#">
        Услуги
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Свадьба на Пхукете</a>
        <a class="dropdown-item" href="#">Аренда транспорта</a>
        <a class="dropdown-item" href="#">Фотосессии</a>
        <a class="dropdown-item" href="#">Трансфер</a>
        <a class="dropdown-item" href="#">Шоппинг</a>
      </div>
      <%= image_tag('down-chevron.svg')%>
    </div>
  </li>
  <li>
    <div class="dropdown price-list">
      <a href="#">
        Прайс
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Скачать</a>
        <a class="dropdown-item" href="#">Открыть</a>
      </div>
      <%= image_tag('down-chevron.svg')%>
    </div>
  </li>
</ul>
