<header class="header-4 header-17 navbar">

  <div class="total-header-area default-header">
    <div class="container">

        <div class="main-menu" id="main-menu-container">
          <nav>
            <ul class="d-flex">
              <li>
                <p class="phone">
                  <%= image_tag('phone.svg') %>
                  +66 96 816 0299
                </p>
              </li>
              <li>
                <button class="call-request" data-toggle="modal" data-target="#orderCall">Заказать звонок</button>
              </li>
            </ul>
          </nav>
        </div>
        <div class="logo">
          <%= link_to root_path do %>
            <%= image_tag('logo.svg')%>
          <% end %>
        </div>

        <div class="scrolled-menu-container">
          <div class="row align-items-center second-menu-row">

              <div class="main-menu" id="scrolled-menu">
                <nav>
                  <ul class="d-flex">
                    <li>
                      <div class="dropdown tours">
                        <a href="#">
                          Экскурсии
                        </a>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="<%= sea_tours_path %>">Морские экскурсии</a>
                          <a class="dropdown-item" href="<%= land_tours_path %>">Сухопутные</a>
                          <a class="dropdown-item" href="<%= evening_shows_path %>">Вечерние шоу</a>
                          <a class="dropdown-item" href="<%= phuket_tours_path %>">По Пхукету</a>
                          <a class="dropdown-item" href="<%= avia_tours_path %>">Авиатуры</a>
                          <a class="dropdown-item" href="<%= individual_tours_path %>">Индивидуальные</a>
                        </div>
                        <%= image_tag('down-chevron.svg')%>
                      </div>
                    </li>
                    <li>
                      <a class="shoping-button" href="#">
                        Шопинг
                      </a>
                    </li>
                    <li>
                      <a class="shoping-button" href="<%= boats_path %>">
                        Аренда Лодок
                      </a>
                    </li>
                      <li>
                        <div class="dropdown property">
                        <a href="#">
                          Недвижимость
                        </a>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="#">Аренда</a>
                          <a class="dropdown-item" href="#">Покупка</a>
                        </div>
                        <%= image_tag('down-chevron.svg')%>
                      </div>
                    </li>
                    <li>
                      <div class="dropdown services">
                        <a href="#">
                          Услуги
                        </a>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="#">Трансферы в/из Аэропорта</a>
                          <a class="dropdown-item" href="#">Фотосессии</a>
                          <a class="dropdown-item" href="#">Свадебные церемонии</a>
                          <a class="dropdown-item" href="<%= ferries_path %>">Паромы на острова</a>
                          <a class="dropdown-item" href="#">СПА</a>
                        </div>
                        <%= image_tag('down-chevron.svg')%>
                      </div>
                    </li>
                    <li>
                      <div class="dropdown price-list">
                        <a href="#">
                          Прайс
                        </a>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="#">Скачать</a>
                          <a class="dropdown-item" href="#">Открыть</a>
                        </div>
                        <%= image_tag('down-chevron.svg')%>
                      </div>
                    </li>
                  </ul>
                </nav>
              </div>

          </div>
        </div>

        <div class="btn-group" id="social-link-container">
          <p class="mail"> <%= image_tag('mail.svg') %> <a href="mailto:x3m.giku@gmail.com">x3m.giku@gmail.com</a> <br> </p>
          <a href="https://www.instagram.com/phuket_budget_tours/" target="_blank" class="instagram"> <%= image_tag('insta.svg')%> </a>
          <a href="#" class="facebook"> <%= image_tag('facebook.svg')%></a>
          <a href="#" class="vk"> <%= image_tag('vk.svg')%></a>
        </div>

    </div>

     <nav>
      <ul class="d-flex">
        <li>
          <div class="dropdown tours">
            <a href="#">
              Экскурсии
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="<%= sea_tours_path %>">Морские экскурсии</a>
              <a class="dropdown-item" href="<%= land_tours_path %>">Сухопутные</a>
              <a class="dropdown-item" href="<%= evening_shows_path %>">Вечерние шоу</a>
              <a class="dropdown-item" href="<%= phuket_tours_path %>">По Пхукету</a>
              <a class="dropdown-item" href="<%= avia_tours_path %>">Авиатуры</a>
              <a class="dropdown-item" href="<%= individual_tours_path %>">Индивидуальные</a>
            </div>
            <%= image_tag('down-chevron.svg')%>
          </div>
        </li>
        <li>
          <a class="shoping-button" href="#">
            Шопинг
          </a>
        </li>
        <li>
          <a class="shoping-button" href="<%= boats_path %>">
            Аренда Лодок
          </a>
        </li>
          <li>
            <div class="dropdown property">
            <a href="#">
              Недвижимость
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Аренда</a>
              <a class="dropdown-item" href="#">Покупка</a>
            </div>
            <%= image_tag('down-chevron.svg')%>
          </div>
        </li>
        <li>
          <div class="dropdown services">
            <a href="#">
              Услуги
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Трансферы в/из Аэропорта</a>
              <a class="dropdown-item" href="#">Фотосессии</a>
              <a class="dropdown-item" href="#">Свадебные церемонии</a>
              <a class="dropdown-item" href="<%= ferries_path %>">Паромы на острова</a>
              <a class="dropdown-item" href="#">СПА</a>
            </div>
            <%= image_tag('down-chevron.svg')%>
          </div>
        </li>
        <li>
          <div class="dropdown price-list">
            <a href="#">
              Прайс
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Скачать</a>
              <a class="dropdown-item" href="#">Открыть</a>
            </div>
            <%= image_tag('down-chevron.svg')%>
          </div>
        </li>
      </ul>

    </nav>

    <%= link_to carts_path do %>
      <div id="basket">
        <span id='white' class="hidden"><%= image_tag('shopping-cart-white.svg')%></span>
        <span id='black'><%= image_tag('shopping-cart.svg')%></span>
        <div class="Oval-2">
          <span class="layer"><%= @cart.cart_items.count %></span>
        </div>
      </div>
    <% end %>

  </div>


  <div class="side-menubar">
    <nav>
      <ul class="color-17">
        <li><a href="#top">Home</a></li>
        <li><a href="#our_advantages">features</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#price">Pricing</a></li>
      </ul>
    </nav>
    <div class="menu-contact">
      <div class="email">
        <a href="mailto:info@execution.com">info@execution.com</a> <br>
        <a href="javascript:;">+880 1956 236 452</a>
      </div>
      <div class="social-contact color-8 d-flex justify-content-center">
        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-google-plus"></i></a>
      </div>
    </div>
  </div>
  <%= render 'shared/flash', flash: flash %>

</header>
<%= render 'shared/order_call_modale' %>
