<header class="header-4 header-17 navbar">

  <div class="total-header-area default-header">
    <div class="container">

        <div class="main-menu" id="main-menu-container">
          <nav>
            <ul class="d-flex">
              <li>
                <p class="phone">
                  <%= image_tag('phone.svg') %>
                  +66 96 816 0299
                </p>
              </li>
              <li>
                <button class="call-request" data-toggle="modal" data-target="#orderCall">Заказать звонок</button>
              </li>
            </ul>
          </nav>
        </div>
        <div class="logo">
          <%= link_to root_path do %>
            <%= image_tag('logo.svg')%>
          <% end %>
        </div>

        <div class="scrolled-menu-container">
          <div class="row align-items-center second-menu-row">

              <div class="main-menu" id="scrolled-menu">
                <nav>
                  <ul class="d-flex">
                    <li>
                      <div class="dropdown tours">
                        <a href="#">
                          Экскурсии
                        </a>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="#">Обзорные по Пхукету</a>
                          <a class="dropdown-item" href="#">Морские экскурсии</a>
                          <a class="dropdown-item" href="#">Сухопутные</a>
                          <a class="dropdown-item" href="#">Авиатуры</a>
                          <a class="dropdown-item" href="#">Вечерние шоу</a>
                          <a class="dropdown-item" href="#">Индивидуальные</a>
                        </div>
                        <%= image_tag('down-chevron.svg')%>
                      </div>
                    </li>
                    <li>
                      <div class="dropdown boats">
                        <a href="#">
                          Аренда Яхт
                        </a>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="#">Яхты</a>
                          <a class="dropdown-item" href="#">Катера для рыбалки</a>
                          <a class="dropdown-item" href="#">Скоростные катера</a>
                        </div>
                        <%= image_tag('down-chevron.svg')%>
                      </div>
                    </li>
                      <li>
                        <div class="dropdown property">
                        <a href="#">
                          Недвижимость
                        </a>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="#">Аренда недвижимости</a>
                          <a class="dropdown-item" href="#">Купить недвижимость</a>
                        </div>
                        <%= image_tag('down-chevron.svg')%>
                      </div>
                    </li>
                    <li>
                      <div class="dropdown services">
                        <a href="#">
                          Услуги
                        </a>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="#">Свадьба на Пхукете</a>
                          <a class="dropdown-item" href="#">Аренда транспорта</a>
                          <a class="dropdown-item" href="#">Фотосессии</a>
                          <a class="dropdown-item" href="#">Трансфер</a>
                          <a class="dropdown-item" href="#">Шоппинг</a>
                        </div>
                        <%= image_tag('down-chevron.svg')%>
                      </div>
                    </li>
                    <li>
                      <div class="dropdown price-list">
                        <a href="#">
                          Прайс
                        </a>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="#">Скачать</a>
                          <a class="dropdown-item" href="#">Открыть</a>
                        </div>
                        <%= image_tag('down-chevron.svg')%>
                      </div>
                    </li>
                  </ul>
                </nav>
              </div>

          </div>
        </div>

        <div class="btn-group" id="social-link-container">
          <p class="mail"> <%= image_tag('mail.svg') %> <a href="mailto:x3m.giku@gmail.com">x3m.giku@gmail.com</a> <br> </p>
          <a href="https://www.instagram.com/phuket_budget_tours/" target="_blank" class="instagram"> <%= image_tag('insta.svg')%> </a>
          <a href="#" class="facebook"> <%= image_tag('facebook.svg')%></a>
          <a href="#" class="vk"> <%= image_tag('vk.svg')%></a>
        </div>

    </div>

     <nav>
      <ul class="d-flex">
        <li>
          <div class="dropdown tours">
            <a href="#">
              Экскурсии
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Обзорные по Пхукету</a>
              <a class="dropdown-item" href="#">Морские экскурсии</a>
              <a class="dropdown-item" href="#">Сухопутные</a>
              <a class="dropdown-item" href="#">Авиатуры</a>
              <a class="dropdown-item" href="#">Вечерние шоу</a>
              <a class="dropdown-item" href="#">Индивидуальные</a>
            </div>
            <%= image_tag('down-chevron.svg')%>
          </div>
        </li>
        <li>
          <div class="dropdown boats">
            <a href="#">
              Аренда Яхт
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Яхты</a>
              <a class="dropdown-item" href="#">Катера для рыбалки</a>
              <a class="dropdown-item" href="#">Скоростные катера</a>
            </div>
            <%= image_tag('down-chevron.svg')%>
          </div>
        </li>
          <li>
            <div class="dropdown property">
            <a href="#">
              Недвижимость
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Аренда недвижимости</a>
              <a class="dropdown-item" href="#">Купить недвижимость</a>
            </div>
            <%= image_tag('down-chevron.svg')%>
          </div>
        </li>
        <li>
          <div class="dropdown services">
            <a href="#">
              Услуги
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Свадьба на Пхукете</a>
              <a class="dropdown-item" href="#">Аренда транспорта</a>
              <a class="dropdown-item" href="#">Фотосессии</a>
              <a class="dropdown-item" href="#">Трансфер</a>
              <a class="dropdown-item" href="#">Шоппинг</a>
            </div>
            <%= image_tag('down-chevron.svg')%>
          </div>
        </li>
        <li>
          <div class="dropdown price-list">
            <a href="#">
              Прайс
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Скачать</a>
              <a class="dropdown-item" href="#">Открыть</a>
            </div>
            <%= image_tag('down-chevron.svg')%>
          </div>
        </li>
      </ul>

    </nav>

    <%= link_to carts_path do %>
      <div id="basket">
        <span id='white' class="hidden"><%= image_tag('shopping-cart-white.svg')%></span>
        <span id='black'><%= image_tag('shopping-cart.svg')%></span>
        <div class="Oval-2">
          <span class="layer"><%= @cart.cart_items.count %></span>
        </div>
      </div>
    <% end %>

  </div>


  <div class="side-menubar">
    <nav>
      <ul class="color-17">
        <li><a href="#top">Home</a></li>
        <li><a href="#our_advantages">features</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#price">Pricing</a></li>
      </ul>
    </nav>
    <div class="menu-contact">
      <div class="email">
        <a href="mailto:info@execution.com">info@execution.com</a> <br>
        <a href="javascript:;">+880 1956 236 452</a>
      </div>
      <div class="social-contact color-8 d-flex justify-content-center">
        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-google-plus"></i></a>
      </div>
    </div>
  </div>
  <%= render 'shared/flash', flash: flash %>

</header>
  <!-- The Modal Order Call -->
  <div class="modal fade" id="orderCall" tabindex="-1" role="dialog" aria-labelledby="orderCallLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h5 class="modal-title" id="orderCallLabel">Заказать обратный звонок</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="input-container">
            <input type="text" name="" placeholder="Ваше имя">
          </div>
          <div class="input-container">
            <input type="text" name="" placeholder='Телефон в формате: +7-(777)-777-77-77)'>
          </div>
          <div class="input-container checkbox-container">
            <input type="checkbox" name="viber">Viber
            <input type="checkbox" name="whats_app">WhatsApp
            <input type="checkbox" name="line">Line
            <input type="checkbox" name="telegram">Telegram
            <input type="checkbox" name="telephon">Обычный вызов
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Заказать звонок</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End Modal Order Call  -->
