<div class="modal fade" id="orderTour" tabindex="-1" role="dialog" aria-labelledby="orderCallLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title" id="orderCallLabel">Забронировать екскурсию</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="orderTourTitle"></p>
        <%= form_for @order do |f| %>
          <%= f.hidden_field :quantity, value: 1 %>
          <%= f.hidden_field :product_type %>
          <%= f.hidden_field :product_id %>
          <div class="row">
            <div class="col-6">
              <div class="form-input">
                <label>Дата тура</label>
                <%= f.date_field :booking_date %>
              </div>
              <div class="pplsCounter">
                <%= image_tag 'user.svg' %>
                <label>Взрослых</label>
                <%= f.number_field :adult_count, min: 1, id: "adult_count", :required => true %>
                <%= image_tag 'kids-couple.svg' %>
                <label>Детей</label>
                <%= f.number_field :child_count, id: "child_count" %>
              </div>
              <div class="calcTotalPrice">
                <p>Итоговая стоимость: <span id="finalTotalPrice">0 ฿</span></p>
              </div>
            </div>
            <div class="col-6">
              <div class="form-input">
                <label>Ваше имя</label>
                <%= f.text_field :customer_name, :required => true, autocomplete: 'name' %>
              </div>

              <%= f.text_field :customer_phone, placeholder: "Телефон", :required => true, autocomplete: 'tel' %>

              <%= f.email_field :customer_email, placeholder: "E-mail", autocomplete: 'email' %>

              <%= f.text_area :customer_comment, placeholder: "Комментарий", autocomplete: false %>

            </div>
          </div>
          <div class="formButtonsContainer">
            <button type="button" class="btn btn-primary cart">Добавить в корзину</button>
            <%= f.submit "Забронировать сейчас", class: "btn btn-primary book" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
