<button class='call-request-scroll' data-toggle="modal" data-target="#orderCall">
  <%= show_svg 'phone_order.svg' %>
</button>
<div id="top"></div>
  <%= render 'shared/header' %>

  <!-- Start Advantage Section -->
  <section id="our_advantages" class="section-150 faq-area-17" >
    <div class="row">
      <div class="col-3 map-container">
        <%= show_svg 'map.svg' %>
      </div>
      <div class="col-3 text-container">
        <h2>О нас</h2>
        <p class="font-weight-bold">
          Профеcсиональный сервис <br />
          бронирования туров
        </p>
        <p>
          Мы команда професcионалов которые уже 5 лет занимаются досугом туристов, приезжающим в Тайланд. 
        </p>
        <p>
          Мы любим наших клиентов и беспокоимся за их безопасность и трансфер.
        </p>
      </div>
      <div class="col-4">
        <div class="grid-template">
          <div class="pl-40">
            <%= show_svg 'person.svg' %>
            <p class="text-center">Персональный<br />подход</p>
          </div>
          <div>
            <%= show_svg 'safety.svg' %>
            <p class="text-center">Безопасность<br />наших клиентов</p>
          </div>
          <div class="pl-40">
            <%= show_svg 'warranty.svg' %>
            <p class="text-center">Гарантия качества</p>
          </div>
          <div>
            <%= show_svg 'prices.svg' %>
            <p class="text-center">Оптимальные цены</p>
          </div>
        </div>
      </div>
      <div class="col-2"></div>
    </div>
  </section>
  <!-- End Advantage Section -->

  <!-- Start brand Area -->
  <section class="section-150" id="main-tours">

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10 col-md-12">
          <div class="section-title-17 text-center">
            <% if content_for?(:header) %>
              <%= yield(:header) %>
            <% else %>
              <h2>Популярные экскурсии</h2>
            <% end %>
          </div>
        </div>
      </div>
      <%= render partial: 'shared/tours', locals: {all_tours: @all_index_tour, path: 'sea_tour_path', product_type: 'SeaTour'} %>
      <div class="path-button-container text-center">
        <%= link_to '#', class: 'path-button' do %>
          Все экскурсии
        <% end %>
      </div>
    </div>

  </section>
  <!-- End brand Area -->

  <% if @comments %>
    <!-- Start Project -->
    <section id="projects" >
      <div class="container text-center">
        <div class="row justify-content-center">
          <div class="col-lg-10 col-md-12">
            <div class="section-title-17 text-center">
              <h2>
                 Последние отзывы
              </h2>
            </div>
          </div>
        </div>
      </div>

      <% @comments.each_with_index do |comment, com_index| %>

        <div class='container <%= "reviews-block-#{com_index}" %> index-review-block reviews-block <%= "hidden" if com_index > 1 %>'>
          <div class="row">
            <div class="col-6 tour-avatar-container">
              <%= show_svg 'comment-mask.svg' %>
              <%= image_tag find_item_tour(comment.tour_id, comment.tour_type).images.first.url(:main_page) %>
            </div>
            <div class="col-6">
              <p class="comment-tour-title"><%= find_item_tour(comment.tour_id, comment.tour_type).title %></p>
              <p class="comment-content"><%= comment.comment %></p>
              <p class="comment-costumer"><span><%= comment.customer_name %></span> <%= comment.created_at %></p>
            </div>
          </div>
        </div>
      <% end %>

      <div class="both-arrow-container">
        <div class="text-center arrow-container-left">
          <%= show_svg 'arrow-l.svg' %>
        </div>
        <div class="text-center <%= 'right-arrow-container' if @comments.length > 1 %> arrow-container-right">
          <% if @comments.length > 2 %>
            <%= show_svg 'arrow.svg' %>
          <% end %>
        </div>
      </div>
    </section>
    <!-- End End Project -->
  <% end %>

  <!-- Start Footer Widget -->
  <%= render "shared/footer" %>
