<button class='call-request-scroll' data-toggle="modal" data-target="#orderCall">
  <%= show_svg 'phone_order.svg' %>
</button>
<div id="top"></div>
  <%= render 'shared/header' %>

  <!-- Start Advantage Section -->
  <section id="our_advantages" class="section-150 faq-area-17" >
    <div class="row">
      <div class="col-3 map-container">
        <%= show_svg 'map.svg' %>
      </div>
      <div class="col-3 text-container">
        <h2>О нас</h2>
        <p class="font-weight-bold">
          Профеcсиональный сервис <br />
          бронирования туров
        </p>
        <p>
          Мы команда професcионалов которые уже 5 лет занимаются досугом туристов, приезжающим в Тайланд. 
        </p>
        <p>
          Мы любим наших клиентов и беспокоимся за их безопасность и трансфер.
        </p>
      </div>
      <div class="col-4">
        <div class="grid-template">
          <div class="pl-40">
            <%= show_svg 'person.svg' %>
            <p class="text-center">Персональный<br />подход</p>
          </div>
          <div>
            <%= show_svg 'safety.svg' %>
            <p class="text-center">Безопасность<br />наших клиентов</p>
          </div>
          <div class="pl-40">
            <%= show_svg 'warranty.svg' %>
            <p class="text-center">Гарантия качества</p>
          </div>
          <div>
            <%= show_svg 'prices.svg' %>
            <p class="text-center">Оптимальные цены</p>
          </div>
        </div>
      </div>
      <div class="col-2"></div>
    </div>
  </section>
  <!-- End Advantage Section -->

  <!-- Start brand Area -->
  <section class="section-150" id="main-tours">

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10 col-md-12">
          <div class="section-title-17 text-center">
            <% if content_for?(:header) %>
              <%= yield(:header) %>
            <% else %>
              <h2>Популярные экскурсии</h2>
            <% end %>
          </div>
        </div>
      </div>
      <%= render partial: 'shared/tours', locals: {all_tours: @sea_tours, path: 'sea_tour_path', product_type: 'SeaTour'} %>
      <div class="path-button-container text-center">
        <%= link_to '#', class: 'path-button' do %>
          Все экскурсии
        <% end %>
      </div>
    </div>

  </section>
  <!-- End brand Area -->

  <% if @comments %>
    <!-- Start Project -->
    <section id="projects" >
      <div class="container text-center">
        <div class="row justify-content-center">
          <div class="col-lg-10 col-md-12">
            <div class="section-title-17 text-center">
              <h2>
                 Последние отзывы
              </h2>
            </div>
          </div>
        </div>
      </div>

      <% @comments.each_with_index do |comment, com_index| %>

        <div class='container reviews-block <%= "reviews-block-#{com_index}" %> '>
          <div class="row">
            <div class="col-1 text-center left-arrow-container arrow-container-left">
              <% if com_index.even? %>
                <%= image_tag('down-chevron.svg', class: 'left-arrow') %>
              <% end %>
            </div>
            <div class="col-2 avatar-container">
              <div class="mask-container">
                <div class="mask">
                  <% if comment.avatar.url(:bottom) %>
                    <%= image_tag comment.avatar.url(:bottom) %>
                  <% else %>
                    <%= image_tag('avatar.svg') %>
                  <% end %>
                </div>
              </div>
            </div>
            <div class='<%= !comment.images.empty? ? "col-4 comment-with-images" : "col-8" %>'>
              <p><span><%= comment.customer_name %></span> <%= comment.created_at %></p>
              <p><%= comment.comment %></p>
            </div>
            <% if !comment.images.empty? %>
              <div class="col-4">
                <div class="row">
                  <% comment.images.each_with_index do |image, index| %>
                    <% if index < 2 %>
                      <div class="col-4 images-container <%= "reviewImagesModal_#{comment.tour_type}_#{comment.id}" %>" >
                        <%= image_tag image.url(:main_page), class: "review_small_images #{index + 1}" %>
                      </div>
                    <% elsif index == 2 && comment.images.count > 3 %>
                      <div class="col-4 images-container <%= "reviewImagesModal_#{comment.tour_type}_#{comment.id}" %>">
                        <%= image_tag image.url(:main_page), class: "review_small_images #{index + 1}" %>
                        <div class="mask">
                          <p>
                            +<%= comment.images.count - 2 %> фото
                          </p>
                        </div>
                      </div>
                    <% elsif index == 2 %>
                      <div class="col-4 images-container <%= "reviewImagesModal_#{comment.tour_type}_#{comment.id}" %>">
                        <%= image_tag image.url(:main_page), class: "review_small_images #{index + 1}" %>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
            <% end %>
            <div class="col-1 text-center right-arrow-container arrow-container-right">
              <% if com_index.even? %>
                <%= image_tag('down-chevron.svg', class: 'right-arrow') %>
              <% end %>
            </div>
          </div>

        </div>

        <!-- Start modal review images showing -->
        <div id='<%= "reviewImagesModal_#{comment.tour_type}_#{comment.id}" %>' class="modal imagesModal">

          <div class="modal-content">
            <span class="close cursor" onclick="closeModal(<%= "reviewImagesModal_#{comment.tour_type}_#{comment.id}" %>)">&times;</span>

            <% comment.images.each do |image| %>
              <div class='mySlides <%= "mySlides_review_#{comment.tour_type}_#{comment.id}" %>'>
                <%= image_tag image.url %>
              </div>
            <% end %>
            <a class="prev" onclick="plusSlides(-1, '<%= comment.tour_type %>', 'review')">&#10094;</a>
            <a class="next" onclick="plusSlides(1, '<%= comment.tour_type %>', 'review')">&#10095;</a>
            <div class="column">
              <% comment.images.each_with_index do |image,index| %>
                <%= image_tag image.url(:bottom), class: "demo demo_review_#{comment.tour_type}_#{comment.id}  cursor", onclick: "currentSlide(#{index + 1}, '#{comment.tour_type}', 'review' )" %>
              <% end %>
            </div>

          </div>
        </div>
        <!-- END modal images showing -->

      <% end %>

    </section>
    <!-- End End Project -->
  <% end %>

  <!-- Start Footer Widget -->
  <%= render "shared/footer" %>
