<div id="top"></div>
<header class="header-4 header-17">


  <div class="total-header-area default-header">
    <div class="container">
      <div class="row align-items-center">

          <div class="main-menu" id="main-menu-container">
            <nav>
              <ul class="d-flex">
                <li><a href="#top">Контакты</a></li>
                <li><a href="#our_advantages">О нас</a></li>
                <li><a href="#projects">Отзывы</a></li>
              </ul>
            </nav>
          </div>
          <div class="logo">
            <a href="javascript:;">
              <%= image_tag('logo.svg')%>
            </a>
          </div>

          <div class="scrolled-menu-container">
            <div class="row align-items-center second-menu-row">

                <div class="main-menu" id="scrolled-menu">
                  <nav>
                    <%= render 'shared/header' %>
                  </nav>
                </div>

            </div>
          </div>

          <div class="btn-group" id="social-link-container">
            <a href="https://www.instagram.com/phuket_budget_tours/" target="_blank" class="instagram"> <%= image_tag('insta.svg')%> </a>
            <a href="#" class="facebook"> <%= image_tag('facebook.svg')%></a>
            <a href="#" class="vk"> <%= image_tag('vk.svg')%></a>
            <span class="currency">Бат(B)</span>
            <%= image_tag('down-chevron.svg')%>
            <div id="basket">
              <span id='white'><%= image_tag('shopping-cart-white.svg')%></span>
              <span id='black' class="hidden"><%= image_tag('shopping-cart.svg')%></span>
              <div class="Oval-2">
                <span class="layer">2</span>
              </div>
            </div>
          </div>
          <div class="menu-group d-flex justify-content-end">
            <a href="#" class="menu-btn toggle-btn hidden-md-up"><span class="lnr lnr-menu"></span></a>
          </div>

      </div>
    </div>
  </div>



  <div class="side-menubar">
    <nav>
      <ul class="color-17">
        <li><a href="#top">Home</a></li>
        <li><a href="#our_advantages">features</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#price">Pricing</a></li>
      </ul>
    </nav>
    <div class="menu-contact">
      <div class="email">
        <a href="mailto:info@execution.com">info@execution.com</a> <br>
        <a href="tel:+8801956236452">+880 1956 236 452</a>
      </div>
      <div class="social-contact color-8 d-flex justify-content-center">
        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-google-plus"></i></a>
      </div>
    </div>
  </div>
</header>
<!-- Start Banner Area -->
<section class="asana-banner relative">
  <%= image_tag 'main.jpg', id: 'mainHeaderImd' %>
  <div class="main-container">
    <div class="contact-info">
      <div class="container">
        <p class="phone">
          <%= image_tag('phone.svg') %>
          +66 96 816 0299
        </p>
        <p class="mail"> <%= image_tag('mail.svg') %> <a href="mailto:x3m.giku@gmail.com">x3m.giku@gmail.com</a> <br> </p>
      </div>
    </div>
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-8">
          <div class="asana-banner-content text-center">
            <h1 class="text-white">Экскурсии</h1>
            <p class="text-white">
              Более 8 лет мы создаем и проводим для Вас лучшие экскурсионные программы.
              <span class="hidden-sm-down">Доверьте нам организацию своего отдыха, а в замен мы подарим вам счастье, приключение, море, острова и джунгли...</span>
            </p>
              <div class="subscription">
                <%= image_tag('arrow-down.svg')%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row align-items-center second-menu-row">

          <div class="main-menu" id="second-menu">
            <nav>
              <%= render 'shared/header' %>
            </nav>
          </div>

      </div>
    </div>

  </section>
  <!-- End Banner Area -->
  <button class="call-request" data-toggle="modal" data-target="#exampleModal">Заказать звонок</button>
  <!-- The Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h5 class="modal-title" id="exampleModalLabel">Заказать обратный звонок</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="input-container">
            <input type="text" name="" placeholder="Ваше имя">
          </div>
          <div class="input-container">
            <input type="text" name="" placeholder='Телефон в формате: +7-(777)-777-77-77)'>
          </div>
          <div class="input-container checkbox-container">
            <input type="checkbox" name="viber">Viber
            <input type="checkbox" name="whats_app">WhatsApp
            <input type="checkbox" name="line">Line
            <input type="checkbox" name="telegram">Telegram
            <input type="checkbox" name="telephon">Обычный вызов
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Заказать звонок</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End Modal -->
  <!-- Start brand Area -->
  <section class="section-150" id="main-tours">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10 col-md-12">
          <div class="section-title-17 text-center">
            <h2>Популярные экскурсии Пхукета</h2>
            <p>Морские экскурсии</p>
          </div>
        </div>
      </div>
      <div class="total-brand-17 d-flex flex-wrap justify-content-md-between justify-content-center align-items-center">
        <div class="tour-container"></div>
        <div class="tour-container"></div>
        <div class="tour-container"></div>
        <div class="tour-container"></div>
        <div class="tour-container"></div>
        <div class="tour-container"></div>
      </div>
    </div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10 col-md-12">
          <div class="section-title-17 text-center">
            <p>Обзорные экскурсии</p>
          </div>
        </div>
      </div>
      <div class="total-brand-17 d-flex flex-wrap justify-content-md-between justify-content-center align-items-center">
        <div class="tour-container"></div>
        <div class="tour-container"></div>
        <div class="tour-container"></div>
        <div class="tour-container"></div>
        <div class="tour-container"></div>
        <div class="tour-container"></div>
      </div>
    </div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10 col-md-12">
          <div class="section-title-17 text-center">
            <p>Морские экскурсии</p>
          </div>
        </div>
      </div>
      <div class="total-brand-17 d-flex flex-wrap justify-content-md-between justify-content-center align-items-center">
        <div class="tour-container"></div>
        <div class="tour-container"></div>
        <div class="tour-container"></div>
        <div class="tour-container"></div>
        <div class="tour-container"></div>
        <div class="tour-container"></div>
      </div>
    </div>
  </section>
  <!-- End brand Area -->
  <!-- Start Feature Area -->
  <section class="section-150 feature-area-17">
    <div class="container text-center">
      <div class="row justify-content-center">
        <div class="col-lg-10 col-md-12">
          <div class="section-title-17 text-center">
            <%= image_tag('divider.svg') %>
            <h3>
              CocoTravel – экскурсии, яхты, отдых, развлечения, транспорт, <br />
              аренда и продажа недвижимости в Таиланде на острове Пхукет.
            </h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-9">
          <div class="single-feature text-left">
            <%= image_tag('down-chevron.svg', class: 'right-arrow') %>
            <p>
              У нас есть все для хорошего отдыха!
            </p>
          </div>
          <div class="single-feature text-left">
            <%= image_tag('down-chevron.svg', class: 'right-arrow') %>
            <p>
              Мы помогаем экономить и ценим ваше время, не теряйте его на поиск и заказ отдельных услуг в различных компаниях, все это вы можете сделать на нашем сайте!
            </p>
          </div>
          <div class="single-feature text-left">
            <%= image_tag('down-chevron.svg', class: 'right-arrow') %>
            <p>
              Мы официально зарегистрированы, работаем согласно требованиям законодательства Королевства Таиланд, гарантируем безопасность, качество и оптимальную стоимость.
            </p>
          </div>
        </div>
        <div class="col-md-6 col-sm-9">
          <div class="single-feature text-center">

          </div>
        </div>
        <div class="col-md-6 col-sm-9">
          <div class="single-feature text-center">

          </div>
        </div>
        <div class="col-md-6 col-sm-9 last-block">
          <div class="single-feature text-left">
            <%= image_tag('rectangle-16.svg', class: 'first-rectangle') %>
            <%= image_tag('rectangle-16.svg', class: 'first-rectangle') %>
          </div>
          <div class="single-feature text-left">
            <h3>
              Наша цель – предоставить доступную  возможность путешествовать и наслаждаться жизнью  всем гостям острова Пхукет.
            </h3>
          </div>
          <div class="single-feature text-right">
            <%= image_tag('rectangle-16.svg', class: 'first-rectangle') %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Feature Area -->
  <!-- Start Project -->
  <section id="projects" class="video-area-17">
    <div class="container text-center">
      <div class="row justify-content-center">
        <div class="col-lg-10 col-md-12">
          <div class="section-title-17 text-center">
            <%= image_tag('divider.svg') %>
            <h2>
               Отзывы о нас
            </h2>
          </div>
        </div>
      </div>
    </div>
    <div class="container reviews-block ">
      <div class="row">
        <div class="col-1">
          <%= image_tag('down-chevron.svg', class: 'left-arrow') %>
        </div>
        <div class="col-2">
          <div class="mask-container">
            <div class="mask">
              <%= image_tag('avatar.svg') %>
            </div>
          </div>
        </div>
        <div class="col-8">
          <p>24 мая состоялась экскурсия 11 островов. Попали в ливень в первый день экскурсии, но все равно не упустили возможность покупаться в бухте и лагунах. Цвет воды в бухте Мая Бэй бирюзовый даже в ливень. Большое спасибо русскому гиду Даниле, у него прекрасное чувство юмора. С музыкой на борту было весело. Мы были с ребёнком 5 лет, ему все понравилось. Ливень прекратился на Пи Пи Доне, и мы смогли сделать первые фото экскурсии на смотровой площадке. На второй день экскурсии решили вернуться на большом пароме на Пхукет  самостоятельно.</p>
        </div>
        <div class="col-1 text-right">
          <%= image_tag('down-chevron.svg', class: 'right-arrow') %>
        </div>
      </div>
      <div class="row">
        <div class="col-3"></div>
        <div class="col-9">
          <div class="row">
            <div class="col-4 images-container"></div>
            <div class="col-4 images-container"></div>
            <div class="col-4 images-container"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-3"></div>
        <div class="col-9">
          <%= image_tag('avatar-cocotours.svg') %>
          <p><span>Coco tours</span>  25.05.2018</p>
          <p>Евгения, спасибо за ваши впечатления! С уважением, Coco tours.</p>
        </div>
      </div>
      <div class="text-center all-review-button">
        <button>
          Все отзывы
        </button>
      </div>
    </div>
  </section>
  <!-- End End Project -->
  <!-- Start Pricing Area -->
  <section id="price" class="section-150 create-review-table-17">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10 col-md-12">
          <div class="section-title-17 text-center">
            <div class="rectangle-7">
              <h3>Хотите поделиться отзывом или задать вопрос?</h3>
              <p>Отлично! Пишите нам все свои пожелания, предложения и отзывы здесь!</p>
              <input type="text" name="" placeholder="Ваше имя">
              <input type="text" name="" placeholder="Ваш email">
              <textarea placeholder="Ваш комментарий"></textarea>
              <div class="info-content">
                <p>
                  Рейтинг:
                  <%= image_tag('star-filled.svg') %>
                  <%= image_tag('star-filled.svg') %>
                  <%= image_tag('star-filled.svg') %>
                  <%= image_tag('star-filled.svg') %>
                  <%= image_tag('star-empty.svg') %>
                </p>
                <div>
                  <p>Ваш аватар:</p><%= image_tag('clip.svg') %>
                  <input type="file" name="file" id="file" class="inputfile" />
                  <label for="file">Загрузить файл</label>
                </div>
                <div>
                  <p>Добавить фотографии:</p><%= image_tag('clip.svg') %>
                  <input type="file" name="file" id="file" class="inputfile" />
                  <label for="file">Загрузить файл</label>
                </div>
                <div class="text-center">
                  <button>
                    Отправить
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Pricing Area -->
  <!-- Start Faq Section -->
  <section id="our_advantages" class="section-150 faq-area-17" >
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10 col-md-12">
          <div class="section-title-17 text-center">
            <%= image_tag('divider.svg') %>
            <h2>
               Наши преимущества
            </h2>
          </div>
        </div>
      </div>
      <div class="row align-items-center advantages">
        <div class="col-lg-3">
          <div class="rectangle-18">
            <div>
              <%= image_tag('chronometer.svg') %>
            </div>
            <h3>Более 8 лет создаем и проводим туры на Пхукете</h3>
            <p>Нам доверяют! За годы работы десятки тысяч гостей острова Пхукет стали нашими клиентами и получили положительные впечатления и воспоминания.</p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="rectangle-18">
            <div>
              <%= image_tag('worker-money-time.svg') %>
            </div>
            <h3>
              Мы экономим <br />
              Ваше время
            </h3>
            <p>Мы предлагаем вам все, что может понадобиться на отдыхе: экскурсии, трансфер, аренду жилья, яхт и авто,консультации и множество других услуг. Доверьте нам отдых, а организацию мы возьмем на себя!</p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="rectangle-18">
            <div>
              <%= image_tag('labyrinth.svg') %>
            </div>
            <h3>
              Легальность <br />
              и безопасность
            </h3>
            <p>Мы официально зарегистрированная компания, работаем согласно лицензии Туристического Управления Таиланда (Tourism Authority of Thailand) №33/05934  </p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="rectangle-18">
            <div>
              <%= image_tag('give-money.svg') %>
            </div>
            <h3>
              Мы экономим <br />
              Ваши деньги
            </h3>
            <p>Заранее создали для вас лучшие экскурсионные маршруты, подготовили русских гидов, нашли комфортный и безопасный транспорт, рассчитали все до минуты так, чтоб вы получили максимум за минимальную цену</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Faq Section -->
  <!-- Start Footer Widget -->
  <section class="footer-widget-17 section-150 relative">
    <div class="footer-top-shape"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-sm-4">
          <div class="single-widget mt-20">
            <%= image_tag('logo_footer.svg') %>
            <p>Туроператор на острове Пхукет, предоставляющий экскурсии с русским гидом, индивидуальные туры, аренду яхт, катеров, аренду недвижимости и авто</p>
          </div>
          <p class="phone">
          <%= image_tag('phone.svg') %>
          +66 96 816 0299
        </p>
        <p class="mail"> <%= image_tag('mail.svg') %> x3m.giku@gmail.com </p>
        </div>
        <div class="col-lg-2 col-sm-4">
          <div class="single-widget mt-20">
            <h5>Прайс</h5>
            <h5>О Пхукете</h5>
            <h5>О компании</h5>
            <h5>Вакансии</h5>
            <h5>Контакты</h5>
          </div>
        </div>
        <div class="col-lg-2 col-sm-4">
          <div class="single-widget mt-20">
            <h5>Екскурсии</h5>
            <ul>
              <li><a href="#">Обзорные по Пхукету</a></li>
              <li><a href="#">Морские экскурсии</a></li>
              <li><a href="#">Сухопутные</a></li>
              <li><a href="#">Авиатуры</a></li>
              <li><a href="#">Вечерние шоу</a></li>
              <li><a href="#">Индивидуальные</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-sm-4">
          <div class="single-widget mt-20">
            <h5>Аренда яхт</h5>
            <ul>
              <li><a href="#">Яхты</a></li>
              <li><a href="#">Катера для рыбалки</a></li>
              <li><a href="#">Скоростные катера</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-sm-4">
          <div class="single-widget mt-20">
            <h5>Недвижимоcть</h5>
            <ul>
              <li><a href="#">Аренда недвижимости</a></li>
              <li><a href="#">Купить недвижимость</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-sm-4">
          <div class="single-widget mt-20">
            <h5>Услуги</h5>
            <ul>
              <li><a href="#">Свадьба на Пхукете</a></li>
              <li><a href="#">Аренда транспорта</a></li>
              <li><a href="#">Фотосессии</a></li>
              <li><a href="#">Трансфер</a></li>
              <li><a href="#">Шоппинг</a></li>
              <li><a href="#">Спа</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Footer Widget -->
  <footer class="default-footer">
    <div class="container">
      <div class="d-flex justify-content-between no-flex-xs">
        <div class="footer-copy-right">
          <p>&copy; 2018. All Rights Reserved<span>|</span><a href="#">Ghost</a></p>
        </div>
      </div>
    </div>
  </footer>

