<% content_for :style do %>
  <%= stylesheet_link_tag    'carts' %>
<% end %>

<%= render 'shared/navbar' %>

<div class="container">
  <div class="cart-container">
    <h1>Ваша корзина</h1>
    <% @cart.cart_items.each do |item| %>
      <div class="row item-container item-<%= item.product_id %>">
        <div class="col-4">
          <%= image_tag item.item_image %>
          <p class="item-title"><%= item.item_title %></p>
        </div>
        <div class="col-3 ppls-count">
          <div class="row pb20 pt10">
            <div class="col-5 text-right">
              <%= image_tag 'user.svg' %>
              <p>
                Взрослыx
              </p>
            </div>
            <div class="col-4 price-container">
              <p>
                ฿ <span class="adult"><%= item.adult_price %></span>
              </p>
            </div>
            <div class="col-3">
              × <input type="number" name="" value="<%= item.adult_count %>" class='item-adult-count item-<%= item.product_id %>-adult-count item-<%= item.product_type %>-adult-count'>
            </div>
          </div>
          <div class="row">
            <div class="col-5 text-right">
              <%= image_tag 'kids-couple.svg' %>
              <p>
                Детей
              </p>
            </div>
            <div class="col-4 price-container">
              <p>
                ฿ <span class="child"><%= item.child_price %></span>
              </p>
            </div>
            <div class="col-3">
              × <input type="number" name="" value="<%= item.child_count %>" class='item-child-count item-<%= item.product_id %>-child-count item-<%= item.product_type %>-child-count' >
            </div>
          </div>
        </div>
        <div class="col-5 date-total-price">
          <div class="row">
            <div class="col-6 date-container">
              <label>Дата экскурсии</label>
              <input type="date" name="" value="<%= item.booking_date %>">
            </div>
            <div class="col-4 total-price-container">
              <p>฿ <span class="item-<%= item.product_id %>-total-price"></span></p>
              <button data-toggle="modal" data-target="#orderTour" class="orderTourButton" data-title="<%= item.item_title %>" data-adult="<%= item.adult_price %>" data-productType="<%= item.product_type %>" data-productId="<%= item.product_id %>" data-child="<%= item.child_price %>" data-date="<%= item.booking_date %>" data-adultcount='<%= item.adult_count %>' data-childcount='<%= item.child_count %>'>Заказать</button>
            </div>
            <div class="col-2 text-center remove-container">
              <%= link_to "×", cart_item_path(item), method: :delete %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <!-- The Modal Order Tour -->
    <%= render partial: 'shared/order_tour', :locals => { product_type: "", product_id: ''} %>
    <!-- End Modal Order Tour  -->
    <% if @cart.cart_items.count <= 0 %>
      <h2>Ваша корзина пуста! Выберите себе для начало <%= link_to 'туры', root_path %>.</h2>
    <% else %>
      <div class="text-right allToursPriceText-container">
        <p class='allToursPriceText'>Итоговая стоимость: </p>
        <p class="allToursPriceAmount"> ฿ <span id="allToursPrice">0</span></p>
      </div>
      <h2>Контактные данные</h2>
      <div class="orderAllContainer">
        <%= form_for @order, :url => {:controller => :orders, action: :cart_order, method: :patch } do |f| %>
          <div class="form-input">
            <label>Ваше имя</label>
            <%= f.text_field :customer_name, :required => true, autocomplete: 'name' %>
          </div>
          <div class="row">
            <div class="col-6">
              <%= f.text_field :customer_phone, placeholder: "Телефон", :required => true, autocomplete: 'tel' %>
            </div>
            <div class="col-6">
              <%= f.email_field :customer_email, placeholder: "E-mail", autocomplete: 'email' %>
            </div>
          </div>
          <%= f.text_area :customer_comment, placeholder: "Комментарий", autocomplete: false %>
          <div class="text-center">
            <%= f.submit "Подтвердить заказ", class: "btn btn-primary book" %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<%= render "shared/footer" %>
