<% content_for :style do %>
  <%= stylesheet_link_tag    'carts' %>
<% end %>

<%= render 'shared/navbar' %>

<div class="container">
  <div class="cart-container">
    <h1>Ваши бронирования</h1>

    <div class="cart-favorit-switching">
      <button id="cart-basket" class="active">Корзина</button>
      <button id="cart-favorites"><%= show_svg 'heart.svg' %>Избранное</button>
    </div>

    <div id="cart-block">
      <% if @cart.cart_items.count <= 0 %>
        <h2>Выберите себе <%= link_to 'туры', root_path %>.</h2>
      <% end %>

      <div class="allToursPriceText-container text-right">
        <p class='allToursPriceText'>Итого:</p>
        <p class="allToursPriceAmount">&nbsp;<span id="allToursPrice">0</span>฿</p>
      </div>

      <div class="row">
        <div class="col-7">
          <% @cart.cart_items.each do |item| %>
            <div class="row item-container item-<%= item.product_id %> cart-item <%= item.product_type %>">
              <div class="col-5 p-0">
                <%= image_tag item.item_image %>
              </div>
              <div class="col-7">
                <div>
                  <%= link_to show_path(item.product_type, item.item_tour )  do %>
                    <p class="cart-item-title"><%= item.item_title %></p>
                  <% end %>
                  <%= link_to "×", cart_item_path(item), method: :delete, class: 'delete-cart-item' %>
                </div>
                <div class="total-price-container">
                  <p><span class="item-<%= item.product_id %>-total-price-<%= item.product_type %>"></span>฿</p>
                </div>

                <div class="date-container">
                  <%= show_svg 'calendar-alt-regular.svg' %>
                  <input type="date" name="" value="<%= item.booking_date %>">
                </div>

                <div class="pplsCounterContainer">

                  <div class="pplsCounter adult">
                    <span class="adult hidden"><%= item.adult_price %></span>
                    <label>Взрослых</label>
                    <div>
                      <span class="adult_count minus">
                        <%= show_svg 'minus.svg' %>
                      </span>
                      <%#= f.number_field :adult_count, min: 1, id: "adult_count", :required => true, value: 1, readonly: true %>
                      <input type="number" name="" value="<%= item.adult_count %>" class='item-adult-count item-<%= item.product_id %>-adult-count item-<%= item.product_type %>-adult-count' id='adult_count' readonly='true'>
                      <span class="adult_count plus">
                        <%= show_svg 'plus.svg' %>
                      </span>
                    </div>
                  </div>

                  <div class="pplsCounter">
                    <span class="child hidden"><%= item.child_price %></span>
                    <label>Детей</label>
                    <div>
                      <span class="child_count minus">
                        <%= show_svg 'minus.svg' %>
                      </span>
                      <%#= f.number_field :child_count, id: "child_count", value: 0, readonly: true %>
                      <input type="number" name="" value="<%= item.child_count %>" class='item-child-count item-<%= item.product_id %>-child-count item-<%= item.product_type %>-child-count' id='child_count' readonly='true'>
                      <span class="child_count plus">
                        <%= show_svg 'plus.svg' %>
                      </span>
                    </div>
                  </div>

                </div>

                <% if check_favorites_items(item) %>
                  <button class="book from-cart">В избранное</button>
                <% else %>
                  <button class="book from-cart" disabled="true">В избранное</button>
                <% end %>

              </div>
            </div>
          <% end %>
        </div>
        <div class="col-5">
          <div class="order-form-container">
            <h2>Контактные данные</h2>
            <div class="orderAllContainer">
              <%= form_for @order, :url => {:controller => :orders, action: :cart_order, method: :patch } do |f| %>
                <div class="form-input">
                  <%= f.text_field :customer_name, :required => true, autocomplete: 'name', placeholder: 'Ваше имя' %>
                </div>
                <div class="form-input">
                  <%= f.text_field :customer_phone, placeholder: "Телефон", :required => true, autocomplete: 'tel' %>
                </div>
                <div class="form-input">
                  <%= f.email_field :customer_email, placeholder: "E-mail", autocomplete: 'email' %>
                </div>
                <%= f.text_area :customer_comment, placeholder: "Откуда вас забрать/ &#10;дополнительные  комментарии".html_safe, autocomplete: false %>
                <label class="container-radio">Оплатить наличными курьеру
                  <!-- <input type="radio" name='radio' checked="checked" value="courier"> -->
                  <%= f.radio_button :payment, 'courier', checked: true %>
                  <span class="checkmark"></span>
                </label>
                <label class="container-radio second">
                  Оплатить картой через курьера
                  <span>Курьер прибудет в назначеное время с терминалом</span>
                  <!-- <input type="radio" name="radio" value="card_via_courier"> -->
                  <%= f.radio_button :payment, 'card_via_courier', checked: false %>
                  <span class="checkmark"></span>
                </label>
                <label class="container-radio last">Оплатить картой он-лайн
                  <!-- <input type="radio" name="radio" value="online" disabled="true"> -->
                  <%= f.radio_button :payment, 'online', checked: false, disabled: true %>
                  <span class="checkmark"></span>
                </label>
                <div class="text-center">
                  <%= f.submit "Подтвердить заказ", class: "btn btn-primary book" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="favorites-block" class="hidden">
      <div class="row">
        <% @favorite.favorite_items.each do |item| %>
          <div class="col-6">
            <div class="favorit-container">
              <div class="row item-container item-<%= item.product_id %> <%= item.product_type %>">
                <div class="col-5 p-0">
                  <%= image_tag item.item_image %>
                </div>
                <div class="col-7">
                  <div>
                    <%= link_to show_path(item.product_type, item.item_tour )  do %>
                      <p class="cart-item-title"><%= item.item_title %></p>
                    <% end %>
                    <%= link_to "×", favorite_item_path(item), method: :delete, class: 'delete-cart-item' %>
                  </div>
                  <div class="total-price-container">
                    <p><span class="item-<%= item.product_id %>-total-price-<%= item.product_type %>"></span>฿</p>
                  </div>

                  <div class="date-container">
                    <%= show_svg 'calendar-alt-regular.svg' %>
                    <input type="text" name="" value="<%= item.booking_date %>" disabled='true' placeholder='<%= "Дата не выбрана" if item.booking_date.nil? %>'>
                  </div>

                  <div class="pplsCounterContainer">

                    <div class="pplsCounter adult">
                      <span class="adult hidden"><%= item.adult_price %></span>
                      <label>Взрослых</label>
                      <div>
                        <span class="adult_count minus">
                          <%= show_svg 'minus.svg' %>
                        </span>
                        <%#= f.number_field :adult_count, min: 1, id: "adult_count", :required => true, value: 1, readonly: true %>
                        <input type="number" name="" value="<%= item.adult_count %>" class='item-adult-count item-<%= item.product_id %>-adult-count item-<%= item.product_type %>-adult-count' id='adult_count' readonly='true'>
                        <span class="adult_count plus">
                          <%= show_svg 'plus.svg' %>
                        </span>
                      </div>
                    </div>

                    <div class="pplsCounter">
                      <span class="child hidden"><%= item.child_price %></span>
                      <label>Детей</label>
                      <div>
                        <span class="child_count minus">
                          <%= show_svg 'minus.svg' %>
                        </span>
                        <%#= f.number_field :child_count, id: "child_count", value: 0, readonly: true %>
                        <input type="number" name="" value="<%= item.child_count %>" class='item-child-count item-<%= item.product_id %>-child-count item-<%= item.product_type %>-child-count' id='child_count' readonly='true'>
                        <span class="child_count plus">
                          <%= show_svg 'plus.svg' %>
                        </span>
                      </div>
                    </div>

                  </div>

                  <% if check_carts_items(item) %>
                    <button class="cart from-favorites">В Корзину</button>
                  <% else %>
                    <button class="cart from-favorites" disabled="true">В Корзине</button>
                  <% end %>

                </div>
              </div>
          
            </div>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>

<%= render "shared/footer" %>
