<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>Time 4 Thai</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag asset_path('32x32.png') %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :style %>


    <link href="https://fonts.googleapis.com/css?family=Poppins:300,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis:400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
    <link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>

    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    <!--
    CSS
    ============================================= -->


  </head>

  <body class="home-17">

    <%= yield %>

  </body>
</html>
