<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>Coco Travel</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


    <link href="https://fonts.googleapis.com/css?family=Poppins:300,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis:400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    <!--
    CSS
    ============================================= -->

    <%= stylesheet_link_tag  'magnific-popup.css' %>
    <%= stylesheet_link_tag  'linearicons.css' %>
    <%= stylesheet_link_tag  'owl.carousel.css' %>
    <%= stylesheet_link_tag  'bootstrap-grid.css' %>
    <%= stylesheet_link_tag  'bootstrap-reboot.css' %>
    <%= stylesheet_link_tag  'bootstrap.css' %>
    <%= stylesheet_link_tag  'main.css' %>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  </head>

  <body class="home-17">

    <%= yield %>

  </body>
</html>
